header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 60px;
  background-color: #E87E04;
  background: -webkit-linear-gradient(#E87E04, #F9690E);
  background: -moz-linear-gradient(#E87E04, #F9690E);
  background: -ms-linear-gradient(#E87E04, #F9690E);
  background: -o-linear-gradient(#E87E04, #F9690E);
  background: linear-gradient(#E87E04, #F9690E);
  z-index: 2;
}

.title {
  position: absolute;
  padding-left: 50px; 
  transform: translateY(-50%);
  top: 50%;
  font-weight: bolder;
  font-size: 1.3em;
  color: #FFF;
}

.title a:hover {
  color: #202020;
}

a.login-link {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  right: 0;
  color: #FFF;
  font-size: 1.2em;
}

a.login-link:hover,
a.share-song-link:hover,
a.logout-link:hover {
  color: #202020;
}

a.share-song-link {
  position: relative;
  color: #FFF;
  font-size: 1em;
  
}

a.logout-link {
}