header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 60px;
  background-color: #E87E04;
  background: -webkit-linear-gradient(#E87E04, #F9690E);
  background: -moz-linear-gradient(#E87E04, #F9690E);
  background: -ms-linear-gradient(#E87E04, #F9690E);
  background: -o-linear-gradient(#E87E04, #F9690E);
  background: linear-gradient(#E87E04, #F9690E);
  z-index: 2;
}

.title {
  position: absolute;
  padding-left: 50px; 
  transform: translateY(-50%);
  top: 50%;
  font-weight: bolder;
  font-size: 1.3em;
  color: #FFF;
  font-family: 'PT Sans', sans-serif;
}

.title a:hover {
  color: #202020;
}

.nav-links {
  display: inline-block;
  color: #FFF;
  font-size: 1.2em;
  float: right;
  margin-right: 50px;
  margin-top: 10px;
}

a.login-link:hover,
a.share-song-link:hover,
a.logout-link:hover {
  color: #202020;
}

a.share-song-link {
  position: relative;
  color: #FFF;
  font-size: 1em;
  
}

a.logout-link {
  font-size: 0.8em;
  margin-left: 1em;
}