<form action="/login" method="post">
  <input type="text" name="name" placeholder="Your name" required><br>
  <input type="password" name="password" placeholder="Pick a password" required><br>
  <input type="submit" value="Log in!">
</form>