<form action="/songs/create" method="post" class="share-song-form">
  <input type="text" name="author" placeholder="Artist Name" required><br>
  <input type="text" name="title" placeholder="Song Title" required><br>
  <input type="text" name="url" placeholder="Song URL" required><br>
  <input type="submit" value="Stick">
</form>