input[type=text] {
  margin-bottom: 0.5em;
  padding: 0.3em 0.5em;
}

input[type=submit] {
  margin-top: 1em;
  border-style: none;
  color: #FFF;
  background-color: #EB974E;
  padding: 0.3em 1.2em;
  font-size: 1.1em;
  font-weight: bolder;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

input:focus {
  outline: none;
}

input[type=submit]:hover {
  color: black;
  background-color: #DADFE1;
}