form.share-song-form {

}

input[type=text] {
  margin: 0.5em 0;
  padding: 0.3em 0.5em;
}

input[type=submit] {
  margin-top: 1em;
  border-style: none;
  background-color: #FDE3A7;
  padding: 0.3em 1.2em;
  font-size: 1.1em;
  font-weight: bolder;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

input:focus {
  outline: none;
  border: 1px solid #F9690E;
  box-shadow: 0 0 5px #F9690E;
}

input[type=submit]:hover {
  box-shadow: 0 4px 0 #EB9532;
}