<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="/stylesheets/header.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/songs/song.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/songs/new.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>
  <title>Music Wall</title>
</head>
<body>
<header>
  <div class="title"><a href="/songs">Music Wall</a></div>
  <%= flash[:error] if flash[:error] %>
  <% if logged_in? %>
    <a href="/songs/new" class='share-song-link'>Stick your song!</a>
    <a href="/logout" class="share-song-link">Logout</a>
  <% else %>
    <a href="/login" class='share-song-link'>Login</a>
  <% end %>
  
</header>
<div class="main-container">
  <%= yield %>
</div>
</body>
</html>
